<h1>みんなの投稿</h1>
<%= link_to '新規投稿', new_picture_path, class: 'btn btn-primary' %>
<br>
<br>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag picture.image.url %></td>
        <td><%= link_to '詳しく！', picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
